<div class="notification-item <%= 'unread' if notification.unread? %>" 
     id="<%= dom_id(notification) %>"
     data-notification-id="<%= notification.id %>"
     data-action="click->notifications#markAsRead">
  
  <div class="notification-avatar">
    <% if notification.mention? %>
      <i class="fas fa-at"></i>
    <% else %>
      <i class="fas fa-comment"></i>
    <% end %>
  </div>

  <div class="notification-content">
    <div class="notification-text">
      <%= notification.notification_text %>
    </div>
    <div class="notification-time">
      <%= time_ago_in_words(notification.created_at) %> ago
    </div>
  </div>

  <% if notification.unread? %>
    <div class="notification-indicator"></div>
  <% end %>
</div>