<% content_for :page_title, "Edit Callback" %>

<%= turbo_stream_from "callback_#{@callback.id}_activities" %>

<%= turbo_frame_tag "main_content", data: { turbo_action: "advance", controller: "callback-form" } do %>
  <main class="main-content">
    <header class="main-header">
      <div class="header-left">
        <h1>Edit Callback #CB-<%= Date.current.year %>-<%= @callback.id.to_s.rjust(4, '0') %></h1>
        <div class="breadcrumb">CRM › Callbacks › <%= link_to "Callback Details", callback_path(@callback), style: "color: #dc2626; text-decoration: none;", data: { turbo_frame: "main_content" } %> › Edit</div>
      </div>
    </header>

    <div class="content-card">
      <%= render 'form', callback: @callback %>
    </div>
  </main>
<% end %>